<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Edit Dives</title>
  <link rel="icon" href="/resources/dive-logger.png" type="image/png">
</head>
<body class="dives-body">
    <%- include('../partials/_navbar.ejs') %>
    <form action="/dives/<%= dive._id %>?_method=PUT" method="POST" class="dive-form">
      <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="string" id="name" name="name" value="<%= dive.name %>" class="form-input"/>
      </div>
      <div class="form-group">
        <label for="depth" class="form-label">Depth:</label>
        <input type="number" id="depth" name="depth" value="<%= dive.depth %>" class="form-input"/>
      </div>
      <label for="time" class="form-label">Total time underwater</label>
      <input type="time" id="time" name="time" value="<%= dive.time %>"/>
      <div class="form-group">
        <label for="weight" class="form-label">Weights used:</label>
        <input type="number" id="weight" name="weight" value="<%= dive.weight %>" class="form-input"/>
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Enter description</label>
        <input type="string" id="description" name="description" value="<%= dive.description %>" class="form-input"/>
      </div>
      <div class="form-group">
        <label for="image" class="form-label">Upload a picture</label>
        <input type="string" id="image" name="image" value="<%= dive.image %>" class="form-input"/>
        <img src="<%= dive.image %>">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </body>
</html>
