<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Dive Details</title>
  <link rel="icon" href="/resources/dive-logger.png" type="image/png">
</head>
<body class="dives-body">
  <%- include('../partials/_navbar.ejs') %>

  <main class="dives-main">
    <div class="dive-card">
      <div class="dive-card-header">
        <h1 class="dive-title"><%= dive.name %></h1>
        <% if (String(dive.diver) !== String(user._id)) { %>
          <h2>  
            <a class="dive-diver-link" href="/dives/users/<%= dive.diver._id %>">
              <%= dive.diver.username %>
            </a>
          </h2>
        <% } %>
      </div>

      <ul class="dive-card-details">
        <li><strong>Location:</strong> <%= dive.location %></li>
        <li><strong>Depth:</strong> <%= dive.depth %></li>
        <li><strong>Time:</strong> <%= dive.time %></li>
        <% if (dive.weight) { %>
          <li><strong>Weight:</strong> <%= dive.weight %> lbs</li>
        <% } else { %>
          <li>No weights</li>
        <% } %>
        <li><strong>Description:</strong> <%= dive.description %></li>
      </ul>
      <% if (String(dive.diver._id) === String(user._id)) { %>
        <a href="/dives/<%= dive._id %>/edit" class="btn btn-secondary">Edit</a>
        <form action="/dives/<%= dive._id %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit" class="btn btn-danger">Delete this dive</button>
        </form>
      <% } %>
    </div>
  </main>
</body>
</html>
